body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(deer-header.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #164321;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 70px;
  opacity: .7;  
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  text-decoration: wavy;
}

.buffer {
  height: 9rem;
}
.btn-primary{
  background-color:#FFB475 ;
  background: none;
  border-color: #FFB475;
}

.btn-primary:hover{
background: #164321;
border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem ;
}

